{% extends 'partials/layout.html' %}

{% block loader %}
{% include 'partials/loader.html' %}
{% endblock loader %}



{% block header %}
{% include 'partials/header.html' %}
{% endblock header %}


{% block slider %}
{% include 'partials/slider.html' %}
{% endblock slider %}

{% block shop_by_deals %}
{% include 'partials/shop_by_deals.html' %}
{% endblock shop_by_deals %}


{% block trending %}
{% include 'partials/trending.html' %}
{% endblock trending %}


{% block deal_of_day %}
{% include 'partials/deal_of_day.html' %}
{% endblock deal_of_day %}


{% block new_arrivals %}
{% include 'partials/new_arrivals.html' %}
{% endblock new_arrivals %}


{% block countdown_offer %}
{% include 'partials/countdown_offer.html' %}
{% endblock countdown_offer %}


{% block featured_product %}
{% include 'partials/featured_product.html' %}
{% endblock featured_product %}


{% block deals %}
{% include 'partials/deals.html' %}
{% endblock deals %}

{% comment %} 
{% block product_desc %}
{% include 'partials/product_desc.html' %}
{% endblock product_desc %} {% endcomment %}


{% block features %}
{% include 'partials/features.html' %}
{% endblock features %}


{% block blog %}
{% include 'partials/blog.html' %}
{% endblock blog %}


{% block client_feedback %}
{% include 'partials/client_feedback.html' %}
{% endblock client_feedback %}



{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}



{% block quick_look %}
{% include 'partials/quick_look.html' %}
{% endblock quick_look %}



{% block cart_model %}
{% include 'partials/cart_model.html' %}
{% endblock cart_model %}

{% comment %} 
{% block newsletter %}
{% include 'partials/newsletter.html' %}
{% endblock newsletter %}  {% endcomment %}


{% block scripts %}
{% include 'partials/scripts.html' %}
{% endblock scripts %}