{% extends 'partials/layout.html' %}

{% block loader %}
{% include 'partials/loader.html' %}
{% endblock loader %}



{% block header %}
{% include 'partials/header.html' %}
{% endblock header %}


{% block slider %}
<!--====== Main App ======-->
<div id="app">

    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="is-marked">

                                    <a>Signin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row row--center">
                        <div class="col-lg-6 col-md-8 u-s-m-b-30">
                            <div class="l-f-o">
                                <div class="l-f-o__pad-box">
                                    <h1 class="gl-h1">I'M NEW CUSTOMER</h1>

                                    <span class="gl-text u-s-m-b-30">By creating an account with our store, you will be
                                        able to move through the checkout process faster, store shipping addresses, view
                                        and track your orders in your account and more.</span>
                                    <div class="u-s-m-b-15">

                                        <a class="l-f-o__create-link btn--e-transparent-brand-b-2"
                                            href="{% url 'signup' %}">CREATE AN ACCOUNT</a>
                                    </div>
                                    <h1 class="gl-h1">SIGNIN</h1>
                                    {% if message is not None %}
                                    <p class="gl-link"> {{ message }} </p>
                                    {% endif %}
                                    <span class="gl-text u-s-m-b-30">If you have an account with us, please log
                                        in.</span>
                                    <form class="l-f-o__form" method="POST">
                                        {% csrf_token %}
                                        <div class="gl-s-api">
                                            
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="login-email">Username *</label>

                                            {{ form.username }}
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="login-password">PASSWORD *</label>

                                            {{ form.password }}
                                        </div>
                                        <div class="gl-inline">
                                            <div class="u-s-m-b-30">

                                                <button class="btn btn--e-transparent-brand-b-2"
                                                    type="submit">LOGIN</button>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <a class="gl-link" href="lost-password.html">Lost Your Password?</a>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <!--====== Check Box ======-->
                                            <div class="check-box">

                                                <input type="checkbox" id="remember-me">
                                                <div class="check-box__state check-box__state--primary">

                                                    <label class="check-box__label" for="remember-me">Remember
                                                        Me</label>
                                                </div>
                                            </div>
                                            <!--====== End - Check Box ======-->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->

</div>
<!--====== End - Main App ======-->
{% endblock slider %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}


{% block scripts %}
{% include 'partials/scripts.html' %}
{% endblock scripts %}